* {
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #d6eaf8;
}
.encabezado {
    padding: 20px 0;
    background: #d6eaf8;
    font-size: 35px;
    font-family:cursive;
    font-style:unset;
    font-weight: bold;
    text-align:center;
    color: #2e4053
    
}
.texto {
    position: absolute;
    width: 40%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 150%;
    background-color: #d6eaf8;
}
.texto::placeholder{
    color:#0a3871;
}
texto:focus,
.texto:active {
    border: none;
    outline: none;
}
.terminos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
}
.terminos p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 82%;
    cursor: pointer;
    
}
.btn-encriptar {
    align-items: center;
    justify-content: center;
    padding: 2%;
    margin: 8px;
    gap: 8px;
    width: 25%;
    background-color: #21618c;
    border-radius: 26px;
    font-family: "Ineter";
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.btn-desencriptador {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    margin:  8px;
    gap: 8%;
    width: 25%;
    background: #d8dfe8;
    border: 2px solid #0a3871;
    border-radius: 26px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #21618c;
    cursor: pointer;

}

.btn-encriptar:hover, .btn-desencriptador:hover {
    margin: 0.5%;
    width: 24.5%;
    padding: 1.8%;
}

.encriptado {
    display: flex;
    justify-content: center;
    position: absolute;
    margin: 80px;
    width: 25%;
    height: 75%;
    left: 50%;
    background: #f5eef8;
    box-shadow: 10px 10px 30px -5px rgba(0, 0, 0 , 1);
    border-radius: 35px;
}

.mensaje-encriptado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 150%;
    top: 65%;
    text-align: center;
}

.mensaje-encriptado h2 {
    width: 60%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343a40;
}

.mensaje-encriptado p {
    width: 80%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #465057;
}

.encriptado img {
    position: absolute;
    width: 70%;
    height: 50%;
    top: 15%;
}
footer{
    text-align: center;
    background: #d6eaf8;
    padding: 40px;
}

.Copyright{
    color: #1b4f72;
    font-size: 13px;
    
}

@media screen and (max-width:480px) {
    .container {
        display: flex;
        flex-direction: row;
    }
    .encriptar {
        width: 100%;
    }
    .texto {
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }
    .terminos {
        width: 80%;
        left: 10%;
        top: 67%;
    }
    .terminos p {
        font-size: 16px;
    }
    .botones {
        width: 80%;
        left: 10%;
        top: 70%;
    }
    .btn-encriptar {
        width: 48%;
        border-radius: 16px;
    }
    .btn-desencriptador {
        width: 48%;
        border-radius: 16px;
    }
    .btn-encriptar:hover, .btn-desencriptador:hover {
        margin: 0.3%;
        width: 47.5%;
        padding: 1.8%;
    }
    .encriptado {
        width: 80%;
        height: 15%;
        left: auto;
        top: 80%;
    }
    .mensaje-encriptado {
        width: 100%;
        top: auto;
    }
    .encriptado img {
        top: 0;
        display: none;
        visibility: hidden;
    }
}